<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wthfeng.dao.MusicDAO" >

    <!--按条件查询歌曲-->
    <select id="list" parameterType="top.wthfeng.model.param.SearchMusicParam"
    resultType="top.wthfeng.model.view.ViewMusic">
        SELECT m.id,m.album,m.cover,m.lyric,m.name as musicName,s.name as singerName,m.url as musicUrl,m.online
        FROM music m  LEFT JOIN singer s ON  m.singerId=s.id
        WHERE 1=1

             <if test="musicName!=null and musicName!='' ">
               <bind name="nameStr" value=" '%'+musicName+'%'" />
                 and  m.name LIKE #{nameStr}
             </if>
             <if test="singerName!=null and singerName!='' ">
                 <bind name="singerNameStr" value="'%'+singerName+'%'" />
                 and s.name LIKE #{singerNameStr}
             </if>
             <if test="album!=null and album!='' ">
                 <bind name="albumStr" value="'%'+album+'%'" />
                 and m.album LIKE #{albumStr}
             </if>
        limit #{page},#{offSet}
    </select>

    <!--按条件查询歌曲所查询到的数目-->
    <select id="listNum" parameterType="top.wthfeng.model.param.SearchMusicParam" resultType="java.lang.Integer">
        SELECT COUNT(m.id) FROM music m  LEFT JOIN singer s ON  m.singerId=s.id
      WHERE 1=1
            <if test="musicName!=null and musicName!='' ">
                <bind name="nameStr" value=" '%'+musicName+'%'" />
               AND  m.name LIKE #{nameStr}
            </if>
            <if test="singerName!=null and singerName!='' ">
                <bind name="singerNameStr" value="'%'+singerName+'%'" />
                and s.name LIKE #{singerNameStr}
            </if>
            <if test="album!=null and album!='' ">
                <bind name="albumStr" value="'%'+album+'%'" />
                and m.album LIKE #{albumStr}
            </if>
    </select>

    <insert id="add" parameterType="top.wthfeng.model.param.EditMusicParam">
        INSERT INTO music(`name`,singerId,lyric,url,album,cover,online)
        VALUES (#{musicName},#{singerId},#{lyric},#{musicUrl},#{album},#{cover},#{online})
    </insert>

    <update id="edit" parameterType="top.wthfeng.model.param.EditMusicParam">
        UPDATE music SET `name`=#{musicName},singerId=#{singerId},lyric=#{lyric},url=#{musicUrl},
        album=#{album},cover=#{cover} WHERE id=#{id}
    </update>

    <update id="online" parameterType="java.util.Map">
        UPDATE music SET online=#{flag} WHERE id=#{id}
    </update>
</mapper>