<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybati.s.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wthfeng.mhfmusic.dao.FormDAO" >

    <!--歌单列表-->
    <resultMap id="listMap" type="top.wthfeng.mhfmusic.model.view.ViewFormList">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="cover" property="cover"/>
        <result column="creator" property="creator"/>
        <result column="online" property="online"/>
        <result column="collectNum" property="collectNum"/>
        <result column="createTime" property="createTime"/>
        <collection property="label" ofType="java.lang.String">
            <result column="label" />
        </collection>
    </resultMap>
    <!--歌单详情-->
    <resultMap id="detailsMap" type="top.wthfeng.mhfmusic.model.view.ViewFormDetails">
        <id property="id" column="id" />
        <result property="name" column="name"/>
        <result property="cover" column="cover"/>
        <result property="info" column="info"/>
        <collection property="label" ofType="java.lang.String">
          <result column="label" />
        </collection>
        <collection property="musicList" ofType="top.wthfeng.mhfmusic.model.form.Music4Form">
            <id property="seq" column="seq"/>
            <result property="musicId" column="musicId"/>
            <result property="album" column="album"/>
            <result property="musicName" column="musicName"/>
            <result property="singerName" column="singerName"/>
        </collection>
    </resultMap>

    <!--获取系统歌单列表-->
    <select id="list" parameterType="top.wthfeng.mhfmusic.model.param.FormListParam"
            resultMap="listMap">
        select  t.id,t.formName `name`,t.userId,t.online,t.cover,t.createTime,t.collectNum,
         sl.labelName label, t.username creator
        from (
            select f.id,f.formName ,f.userId,f.online,f.cover,f.createTime,u.username,
            ( SELECT count(fc.id) from form_collect fc where fc.formId=f.id )as collectNum
            from form f
            LEFT join `user` u on f.userId=u.id
            where f.issystem=1
            <if test=" formName!=null and formName!=''">
                <bind name="formLikeStr" value="'%'+formName+'%'"/>
                and   f.formName  like #{formLikeStr}
            </if>
            <if test="creator!=null and creator!=''">
                <bind name="userLikeStr" value="'%'+creator+'%'"/>
                and  u.username like #{userLikeStr}
            </if>
             limit #{offSet},#{pageSize}
         ) t
        left join form_label fl on t.id=fl.formId
        left join syslabel sl on fl.id=sl.id
    </select>

    <select id="listNum" parameterType="top.wthfeng.mhfmusic.model.param.FormListParam"
            resultType="java.lang.Integer">
      SELECT  count(*) from form f
      left join `user` u on f.userId=u.id
      where f.issystem=1
        <if test=" formName!=null and formName!=''">
            <bind name="formLikeStr" value="'%'+formName+'%'"/>
            and   f.formName  like #{formLikeStr}
        </if>
        <if test="creator!=null and creator!=''">
            <bind name="userLikeStr" value="'%'+creator+'%'"/>
            and  u.username like #{userLikeStr}
        </if>
    </select>

    <!--设置上下线-->
   <update id="online" parameterType="java.util.Map">
       UPDATE form f set f.online=#{flag}
       where f.id=#{formId}
   </update>

    <!--获取歌单详情-->
    <select id="details" parameterType="java.lang.Integer"
    resultMap="detailsMap">
        select f.id,f.formName `name`,f.cover,fl.labelName label,f.info,
         fd.id as seq,m.id as musicId,
         m.album,m.name as musicName,s.name as singerName
        from form f
        left JOIN form_details fd on f.id=fd.formId
        left join music m on fd.musicId=m.id
        left join singer s on m.singerId=s.id
        left join form_label fl on f.id=fl.formId
        where f.id=#{formId}
    </select>

    <!--编辑歌单（歌单表部分）-->
    <update id="editForm" parameterType="top.wthfeng.mhfmusic.model.param.EditFormParam">
        UPDATE form set formName=#{name},cover=#{cover},info=#{info}
        where id=#{id}
    </update>

    <delete id="delFormMusic" parameterType="java.lang.Integer">
       DELETE from form_details where formId=#{formId}
    </delete>

    <!--添加歌单（歌单表部分）-->
    <insert id="addForm" parameterType="top.wthfeng.mhfmusic.model.param.EditFormParam">
        <selectKey keyProperty="id" keyColumn="id" resultType="java.lang.Integer" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        insert into form(userId,formName,info,createTime,cover,issystem)
        values (#{userId},#{name},#{info},#{createTime},#{cover},1)
    </insert>

    <!--添加歌单歌曲部分-->
    <insert id="addFormMusic" parameterType="top.wthfeng.mhfmusic.model.param.EditFormParam">
        insert into form_details(formId,musicId) VALUES
        <foreach collection="arrMusicIds" item="item" separator=",">
            (#{id},#{item})
        </foreach>
    </insert>

    <!--删除歌单标签-->
    <delete id="delFormLabel" parameterType="java.lang.Integer">
        DELETE from form_label where formId=#{formId}
    </delete>

    <!--添加歌单标签-->
    <insert id="addFormLabel" parameterType="top.wthfeng.mhfmusic.model.param.EditFormParam">
        insert into form_label(formId,labelName) VALUES
        <foreach collection="arrLabels" item="item" separator=",">
            (#{id},#{item})
        </foreach>
    </insert>

    <!--获取歌曲列表-->
    <select id="getMusicList" parameterType="top.wthfeng.mhfmusic.model.param.SimpleSearchMusicParam"
     resultType="top.wthfeng.mhfmusic.model.view.ViewSimpleMusic">
        SELECT m.id musicId,m.album,m.name as musicName, s.name as singerName
        FROM music m
        LEFT JOIN singer s ON  m.singerId=s.id
        WHERE   m.online=1
        <if test="musicName!=null and musicName!='' ">
            <bind name="nameStr" value=" '%'+musicName+'%'" />
            and  m.name LIKE #{nameStr}
        </if>
        <if test="singerName!=null and singerName!='' ">
            <bind name="singerNameStr" value="'%'+singerName+'%'" />
            and s.name LIKE #{singerNameStr}
        </if>
        <if test="album!=null and album!='' ">
            <bind name="albumStr" value="'%'+album+'%'" />
            and m.album LIKE #{albumStr}
        </if>
        ORDER BY m.id
        limit #{offSet},#{pageSize}
    </select>

    <!--获取歌单列表数目-->
    <select id="getMusicListNum" parameterType="top.wthfeng.mhfmusic.model.param.SimpleSearchMusicParam"
            resultType="java.lang.Integer">
        SELECT count(m.id)
        FROM music m
        LEFT JOIN singer s ON  m.singerId=s.id
        WHERE   m.online=1
        <if test="musicName!=null and musicName!='' ">
            <bind name="nameStr" value=" '%'+musicName+'%'" />
            and  m.name LIKE #{nameStr}
        </if>
        <if test="singerName!=null and singerName!='' ">
            <bind name="singerNameStr" value="'%'+singerName+'%'" />
            and s.name LIKE #{singerNameStr}
        </if>
        <if test="album!=null and album!='' ">
            <bind name="albumStr" value="'%'+album+'%'" />
            and m.album LIKE #{albumStr}
        </if>
    </select>

    <select id="getMusicByIds" parameterType="java.util.Map" resultType="top.wthfeng.mhfmusic.model.view.ViewSimpleMusic">
        SELECT m.id as musicId,m.name musicName,m.album,s.name singerName
        from music m
        left JOIN  singer s on m.singerId=s.id
        where m.id in
        <foreach collection="musicIds" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </select>




</mapper>